<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/head :: head('Movie Details')"></head>
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <h1>Movie Details</h1>
    <!-- Se il film esiste -->
    <div th:if="${movie != null}">
        <p>Title: <span th:text="${movie.title}"></span></p>
    </div>
    <!-- Se il film non esiste -->
    <div th:if="${movie == null}">
        <p>Movie not found!</p>
    </div>
    <a href="/movies">Back to Movies</a>
</body>
</html>